html {
    width: 100%;
}

.the_videos
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: video;
    grid-auto-flow: column;
}

.video1
{
    display: grid;
}

.video2
{
    display: grid;
}

.video3
{
    display:grid;
}