html 
{
    width: 100%;
}

.the_videos
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-area: videoOnFrontPage;
    grid-auto-flow: column;
    margin: 0%;
}

.video1
{
    display: grid;
    margin: 0%;
}

.video2
{
    display: grid;
    margin: 0%;
}

.video3
{
    display:grid;
    margin: 0%;
}