.sm
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.social_media_icon
{
    width:20vw;
    height:20vw;
}

.form
{
    place-items: center;
}

.st
{
    place-content: center;
}

.cu_form
{
    display: grid;
    grid-template-rows: [line-name1] 20% [line-name2] 80%;
    border: 2px solid var(--secondary);
    width: 50vw;
    height: 50vw;
    padding: 0%;
    margin: 0%;
    place-items: center;
    font-size: 5vw !important;
}