html 
{
    width: 100%;
}

.mainbody
{
    display: grid;
    grid-template-areas: 
    "head"
    "main";
}

.pic_heading
{
    display: grid;
    grid-area: head;
    font-size: 3vw;
    text-align: center;
}

.the_pictures
{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-flow: column; */
    margin: 0%;
    padding: 4%;
}

.pic1 > img, .pic2 > img, .pic3 > img, .pic4 > img, .pic5 > img, .pic6 > img, .pic7 > img
{
    object-fit: cover;
    max-width: 20vw;
    max-height: 30vw;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7
{
    display: grid;
    grid-template-rows: [line-name1] 75% [line-name2] 10% [line-name3] 5%;
    place-items: center;
}

.name1, .name2, .name3, .name4, .name5, .name6, .name7
{ 
    height: 2vw;
    max-width: 20vw;
}

.RhodriPic, .MichealPic, .DannyPic, .ArchiePic, .AidenPic, .IzzyPic, .TyPic
{
    border: solid var(--secondary) 2px;
}

.social_media
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 20vw;
    height:max-content;
}

.pic7
{
    display: grid;
    grid-column-start: 2;
}

