.main
{
    display: grid;
    grid-template-areas:
    "title"
    "alia"
    "pd"
    "smrg";
    grid-template-columns: auto;
}

.title
{
    display: grid;
    grid-area: title;
    font-size: 5vw;
    border: solid 1px var(--secondary);
    
}

.alia
{
    display: grid;
    grid-area: alia;
    font-size: 3vw;
    font-family: 'Times New Roman';
    font-style: italic;
}

.pd
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: pd;
    place-items: center;
}

.rpic
{
    display:grid;
    object-fit: cover;
    max-width: 30vw;
}

.pdescription
{
    display: grid;
    font-size: 1.3vw;
    text-align: center;
}

.smrg
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 10%;
}

.r_sm
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.UpcomingAndRecentEvents
{
    padding-left: 10%;
    padding-right: 10%;
    grid-template-areas: 
    "heading heading"
    "caroseul caroseul";
    border: solid 2px var(--secondary);
}

.upcomingEventsHeading
{
    display: grid;
    text-align: center;
    grid-area: heading;
    border: solid 2px var(--secondary);
}

.upcomingevents
{
    display: grid;
    grid-area: caroseul;
    border: solid 2px var(--secondary);
}

.pd > img
{
    object-fit: cover;
    width: 30vw;
    height: 35vw;
}

.social_media_icon
{
    width:10vw;
    height:10vw;
}

.mySlides
{
    display: grid;
    font-size: 2vw;
    text-align: center;
    max-width: 30vw;
}

.mySlides > .character
{
    height: 30vw;
    width: 20vw;
}

.character
{
    padding:10px;
    place-items: center;
}

.pdescription, .r_rg
{
    font-size: 2vw;
}

.r_rg
{
    padding-top: 2vw;
}

@media only screen and (max-width: 780px)
{
    .pd, .smrg
    {
        display: block;
    }

  

}