.UpcomingAndRecentEvents
{
    padding: 10%;
    grid-template-areas: 
    "heading heading"
    "main-body main-body";
}

.upcomingEventsHeading, .recenteventsHeading
{
    display: grid;
    text-align: center;
}

.shopfront_title
{
    display:grid;
    grid-area: heading;
    text-align: center;
}

.clothes_available
{
    display: grid;
    grid-area: clothes_available;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "heading heading heading heading"
    "merch merch merch merch";
    padding: 2%;
    margin: 2%;
}

.shirt1
{
    display: grid;
    text-align: center;
    grid-area: "merch";
    border: 3px solid var(--secondary);
}

.clothes_heading
{
    display: grid;
    grid-area: heading;
}