.UpcomingAndRecentEvents
{
    padding: 10%;
}

.upcomingEventsHeading, .recenteventsHeading
{
    text-align: center;
}

.clothes_available
{
    display: grid;
    grid-area: clothes_available;
    justify-items: center;
}