.body
{
    display:grid;
    grid-template-areas: 
        "nav" 
        "content"
        "footer";
    padding: 10vw;
    grid-template-columns: auto auto;
    gap: 0.5vw;
    padding: 3vw;
}

.body div
{
    background-color: black;
    padding: 10px;
}

.nav
{
    display: grid;
    grid-area:nav;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid black;
}

.nav div
{
    background-color: white;
    padding: 10px;
    font-size: 30px;
    
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span .line {
    height: 15%;
    width:80%;
    margin: 6px 0;
    background-color: black;
}

.icon button
{
    background-color: transparent;
    border: 1px white;
}

.main-body
{
    display:grid;
    grid-area:content;
    grid-template-columns: auto;
}

.main-body div
{
     padding: 10px;
     font-size: 30px;
}

.footer
{
     display:grid;
     grid-area:footer;
     grid-template-columns: auto auto auto auto auto auto auto;
}

.footer div
{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
}