html {
    width: 100%;
}

:root
{
    --text: #040316; 
    --background: #ffffff; 
    --primary: #000000; 
    --secondary: #9628eb; 
    --accent: #00d162; 
}

*
{
    color: var(--text);
    font-family: sans-serif;
    background-color: var(--background);
}

.body
{
    display:grid;
    grid-template-areas: 
        "nav" 
        "content"
        "footer";
    grid-template-columns: auto auto;
}

.body div
{
    background-color: var(--background);
    padding: 10px;
}

button
{
    height: 100%;
    width: 100%;
    border-color: var(--secondary);
    font-size: 30px;
}


.nav
{
    display: grid;
    grid-area:nav;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid var(--secondary);
}

.nav div
{
    background-color: var(--background);
    padding: 10px;
    font-size: 30px;
    width: 10vw;
}

.div button
{
    height:100%;
    width:100%;
}

/* The side navigation menu */
.sidenav 
{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: -1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}
  
/* The navigation menu links */
.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text);
    display: block;
    transition: 0.3s;
    overflow-x: hidden;
    border-color: var(--secondary);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover 
{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icon button
{
    background-color: transparent;
    border: 2px var(--background);
}

.main-body
{
    display:grid;
    grid-area:content;
    grid-template-columns: auto;
    grid-template-areas: 
        "imageattop"
        "intro"
        "videoOnFrontPage"
        "UpcomingAndRecentEvents"
        "latest_news"
        "social-media-links";
}

.main-body div
{
    font-size: 30px;
}

.imageattop
{
    display: grid;
    grid-area: imageattop;
    place-items: center;
}

.intro
{
    text-align: center;
    display: grid;
    grid-area:intro;
    width: 100%;
}

.videoOnFrontPage
{
    display: grid;
    grid-area:videoOnFrontPage;
    grid-template-areas: 
        "video"
        "description"
        "ClipsButton";
    padding: 0%;
}

.video
{
    display:grid;
    grid-area: video;
    height: 40vw;
}

.description
{
    display: grid;
    grid-area: description;
    text-align: center;
}

.ClipsButton
{
    display: grid;
    grid-area: ClipsButton;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
}



.UpcomingAndRecentEvents
{
    display: grid;
    grid-area: UpcomingAndRecentEvents;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
}


.upcomingevents
{
    display: grid;
    grid-template-areas: 
        "heading"
        "carousel";
    border: 2px solid var(--secondary);
}


.upcomingEventsHeading
{
    display: grid;
    grid-area: heading;
    border-bottom: 2px solid var(--secondary);
}

.carousel
{
    display: grid;
    grid-area: carousel;
}


.recentevents
{
    display: grid;
    grid-template-areas: 
        "heading"
        "carousel";
    border: 2px solid var(--secondary);
}


.recenteventsHeading
{
    display: grid;
    grid-area: heading;
    border-bottom: 2px solid var(--secondary);
}

.carousel
{
    display: grid;
    grid-area: carousel;
}

.latest_news
{
    display: grid;
    grid-area: latest_news;
    grid-template-areas: 
        "latest-news-head"
        "main-body";
}

.latest_news div
{
    display: grid;
}

.latest-news-head
{
    display: grid;
    text-align: left;
    grid-area: latest-news-head;
}
.area
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-area: main-body;
    padding: 10px;
    justify-content: space-around;
}

.area div
{
    width: 20vw;
    border: 2px solid var(--secondary);
}



.social-media-links
{
    display:grid;
    grid-area: social-media-links;
    border-color: var(--secondary);
    grid-template-areas: 
        "title"
        "main";

}

.title
{
    display: grid;
    grid-area: title;
}

.social_media_icons
{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(5, 1fr);
}

.social-media-links div
{
    background-color: var(--background);
    padding: 10px;
    font-size: 30px;
}

.footer
{
    display:grid;
    grid-area:footer;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.footer div
{
    background-color: var(--background);
    border: 2px solid var(--secondary);
    padding: 10px;
    font-size: 30px;
}

@media only screen and (max-width: 780px)
{
    .sidenav
    {
        width: 100%;
        text-align: center;
    }
    
    h2
    {
        font-size: 30px;
    }

    .hamburger
    {
        grid-column-start: 7;
    }

   
    
    .profileoverviewofteam
    {
        display: none;
    }

    .calendar
    {
        display: none;
    }

    .shopfront
    {
        display: none;
    }

    .contactUs
    {
        display: none;
    }

    .clips
    {
        display: none;
    }

    .intro p
    {
        font-size: 4vw;
    }

    .intro
    {
        width: auto;
        
    }
    
    .upcomingevents
    {
        width: auto;
    }
}