.body
{
    display:grid;
    grid-template-areas: 
        "nav nav" 
        "content content"
        "footer footer";
    padding: 10vw;
    grid-template-columns: auto auto;
    gap: 0.5vw;
    padding: 3vw;
}

.body div
{
    background-color: white;
    padding: 10px;
}

div.nav
{
     display: grid;
     grid-area:nav;
     grid-template-columns: auto auto auto auto auto auto;
}

.nav div
{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
}