.body
{
    display:grid;
    grid-template-areas: 
        "nav nav" 
        "content content"
        "footer footer";
    padding: 10vw;
    grid-template-columns: auto auto;
    gap: 0.5vw;
    padding: 3vw;
}

.body div
{
    background-color: white;
    padding: 10px;
}

div.nav
{
     grid-area:nav;
     grid-template-columns: auto auto auto auto auto auto;
}